<div class="loan-container">
    <div class="name"><h3>  {{loan.name}}</h3><span style="float: right;" ng-click="removeLoan(loan)">delete</span></div>
    <div class="minimumPayment">MinimumPayment $<input ng-model="loan.minimumPayment" type="number">/month</div>
    <div class="interestRate">Interest Rate <input ng-model="loan.interestRate" type="number">%</div>
    <div class="balance">
        Balance ${{loan.principal + loan.interest}}
        <div style="margin-left: 5px;">
            <div> Principal $<input ng-model="loan.principal" type="number"></div>
            <div> Interest $<input ng-model="loan.interest" type="number"></div>
        </div>
    </div>
</div>