//variables
@borderColor: #ccc;
@navHeight: 43px;
@loanPanelWidth: 1 / 3 * 100%;
@minLoanPanelWidth: 400px;
@lifecyclePanelWidth: 2 / 3 * 100%;
@minLifecyclePanelWidth: 600px;

@customLifecycleColor: #99E3E2;
@baseLifecycleColor: #FF5200;

@panelHeight: 800px;
@shadowColor: lightgrey;
//mixins
.panel {
    height: @panelHeight;
    display: inline-block;
}

.shadow {
    box-shadow: @shadowColor 1px 1px 1px;
}

.swingTransition(@prop) {
    transition: @prop 1s ease;
}

.font-standard{
    font-family: "Source Sans Pro";
    font-weight: 300;
}

//app level styles
.content-container {
    padding-top: @navHeight;
    position: relative;
    @import "./components/loan_panel/loan_panel";

    .lifecycle-panel-container {
        width: @lifecyclePanelWidth;
        min-width: @minLifecyclePanelWidth;
        position: absolute;
        height: 100%;
        &.full {
            width: 100% !important;
            height: 100%;
        }
        .panel;
        .swingTransition(width);
        @import "./components/lifecycle/lifecycle";
    }
}

.glyphicon {
    transition: color 250ms ease;
    &:hover {
        color: lightblue;
        cursor: pointer;
    }
    &.glyphicon-pencil{
        font-size: 12px;
    }
}

body{
    font-family: "Source Sans Pro";
}

@import "./components/editable_input/editable_input";
@import "./components/nav/nav";
