@panelMarginTop: 20px;
.loan-panel {
  .menu-container{
    overflow-y: hidden;
    max-height: @panelHeight;
    min-height: @panelHeight;
  }

  .loans-container{
    .menu-container;
    .loan-options{
      height: 30px;
    }
    .loan-list{
      height: @panelHeight - 30px;
      overflow-y: scroll;
    }
  }

  .settings-container{

  }
}