<div class="loan-panel">
    <div class="settings-container" ng-if="showSettings">
        <div class="extra">
            <div class="props">Amount Extra</div>
            <editable-input model="settings.extra" type="number" prefix="$" suffix="/mth"></editable-input>
        </div>
        <div class="method">
            <div class="prop">Method</div>
            <div class="method-container">
                <label>
                   <input type="radio" ng-model="settings.method" ng-value="'HI_INTEREST'">
                   Highest Interest First
                 </label>
            </div>
            <div class="method-container">
                 <label>
                   <input type="radio" ng-model="settings.method" ng-value="'LO_BALANCE'">
                   Lowest Balance First
                 </label>
            </div>
        </div>
    </div>
    <div class="loans-container" ng-if="!showSettings">
        <div class="loan-options">
            <span ng-click="addLoan()"><span class="glyphicon glyphicon-plus"></span> Add Loan</span>
        </div>
<!--         <div class="loan-options">
            <span ng-click="addRandomLoan()"><span class="glyphicon glyphicon-plus"></span> Add Random Loan</span>
        </div> -->
        <div class="loan-list">
            <loan ng-repeat="loan in loans track by loan.id"></loan>
        </div>
    </div>
</div>
