.lifecycle-graph-container{

  .series-path{
    -webkit-filter: drop-shadow( -5px -5px 5px #000 );
    filter: drop-shadow( -5px -5px 5px #000 );
    stroke-width: 1px;
  }

  .series{
    .circle{
      stroke: rgba(255,255,255,0.47);
      stroke-width: 1px;
      transition-property:  fill;
      transition-duration: 500ms;
      transition-timing-function: ease;
      &:hover {
        // r: 20;
        // box-shadow: 1px 1px 1px grey;
      }
    }

    &.custom{
      path{
        stroke: @customLifecycleColor;
        .series-path;
      }
      .custom-payment-circle {
        fill: @customLifecycleColor;
        .circle;
        &:hover{
          fill: darken(@customLifecycleColor, 20%);

        }
      }
    }
    &.base{
      path{
        stroke: @baseLifecycleColor;
        .series-path;
      }
      .base-payment-circle {
        fill: @baseLifecycleColor;
        .circle;
        &:hover{
          fill: darken(@baseLifecycleColor, 20%);
        }
      }
    }
  }

}

.lifecycle-graph-tooltip{
  position: absolute;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  transition: display 500ms ease;
  &:hover {
  }
}