<div class="editable-input"  ng-mouseover="hoverView()" ng-mouseout="endHoverView()">
    <div class="view" ng-show="view">
        {{prefix}}{{model}}{{suffix}}
        <div class="action-box"  ng-show="hover">
            <div class="edit-button glyphicon glyphicon-pencil" ng-click="toggleEdit()"></div>
        </div>
    </div>
    <div class="edit" ng-show="!view">
        <div class="input-container">
            {{prefix}}<input ng-model="obj.copy" type="{{type}}">{{suffix}}
        </div>
        <div class="action-box">
            <span class="glyphicon glyphicon-ok" ng-click="save()"></span>
            <span class="glyphicon glyphicon-remove" ng-click="cancel()"></span>
        </div>
    </div>
</div>