.editable-input{
  @height: 40px;
  @width: 100%;
  @inputWidth: 200px;
  @inputHeight: @height/2;
  @backgroundColor: lightBlue;
  padding: 5px;
  display: block;
  position: relative;
  transition: background-color 500ms ease;
  height: @height;
  .font-standard;
  font-size: 16px;
  &.big{
    font-size: 18px;
    font-weight: 600;
  }
  &:hover {
    background-color: @backgroundColor;
  }

  .input-container{
    display: inline-block;
  }
  input {
    width: @inputWidth;
    height: @inputHeight;
    display: inline-block;
  }

  .action-box{
    display: inline-block;
    position: absolute;
    transition: background-color 500ms ease;
    margin-left: 5px;
    padding: 0px 5px;
    background-color: lightgrey;
    border-radius: 9px;
    box-shadow: #8c8c8c 1px 2px 1px;
    border: 1px solid #cecece;
    &.ng-hide{
      transition: none;
    }
  }

  .view {
    width: @width;
    transition: all 250ms ease;
    &.ng-hide{
      transition: none;
    }
    .edit-button {
      transition: all 250ms ease;
      &.ng-hide{
        transition: none;
      }
      &:hover {
        color: blue;
      }
    }
  }
  .edit {
    width: @width;
  }

  
}