.lifecycle-container{
  .lifecycle-header {
    height: 80px;
  }

  .axis {
    shape-rendering: crispEdges;
  }

  path{
      fill: none;
  }

  .y-axis line, .y-axis path,
  .x-axis line, .x-axis path {
    fill: none;
    stroke: #000;
  }
}