.lifecycle-panel-container {
    width: @lifecyclePanelWidth;
    min-width: @minLifecyclePanelWidth;
    position: absolute;
    height: 100%;
    margin-left: @loanPanelWidth;
    &.full {
        width: 100% !important;
        margin-left: 0;
        height: 100%;
    }
    .panel;
    .swingTransition(width);

    .lifecycle-container{

      font-family: Source Sans Pro;
      font-weight: 300;
      // margin-left: @loanPanelWidth;
      // &.full{
      //   margin-left: 0;
      // }
      .lifecycle-header {
        height: 80px;
      }

      .axis {
        shape-rendering: crispEdges;
      }

      path{
          fill: none;
      }

      .background{
        fill: #FBFBFB;
      }

      .y-axis line, .y-axis path,
      .x-axis line, .x-axis path {
        fill: none;
        stroke: #ccc;
      }


    }

}
